.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  width: auto !important;
}

.logo-size {
  width: 34px;
  height: 34px;
  line-height: 34px;
}

.mat-sidenav {
 width: auto !important;
}
